//------------------//
// .upload-progress //
//------------------//
.upload-progress
    display: none
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%

    &__title
        margin-bottom: 20px
        font-size: 1.3em

    &__wrapper
        display: flex
        width: 50%
        height: 40px
        border: 1px solid #006280
        border-radius: 18px

    &__fill
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        width: 0%
        height: 100%
        border-radius: 18px
        background-color: #006280
        color: #fff
        transition: width 0.3s ease